body {
    background-color: #dbffdb;
}

.navbar {
    margin-bottom: 0;
}

.item {
    background: rgb(228, 228, 228);
}

.item {
    position: relative;
}

.itemtip {
    position: absolute;
    top: 20px;
    right: 8%;
}

.itemtip1 {
    color: #ffffff;
}

.itemtip2 {
    color: #000000;
}

.itemtip3 {
    color: #000000;
}

@media (max-width: 768px) {

    /*文字隐藏*/
    .itemtip {
        display: none;
    }
}

.row img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.navbar-default {
    /*background-color: #1d8100;*/
}

.navbar .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    color: white;
    font-weight: bold;
}

.navbar {
    background-color: green;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li[class="active"] > a {
    color: #004900;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #7cffd2;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #7cffd2;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

hr {
    border-color: rgba(138, 216, 255, 0.47);
}

.hover-highlight:hover {
    box-shadow: 0 0 20px rgba(28, 133, 2, 0.5);
    transition: box-shadow 0.1s ease;
    background-color: #dbffdb;
}
