body {
    background-color: #f5fffd;
}

.navbar {
    margin-bottom: 0;
}

.item {
    background: rgb(228, 228, 228);
    position: relative;
}

/* 使用媒体 */
@media (max-width: 768px) {

    /* 文字隐藏 */
    .itemtip {
        display: none;
    }
}

.itemtip {
    position: absolute;
    top: 20px;
    right: 8%;
}

.item {
    display: block;
}

.img1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.navbar .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    color: white;
    font-weight: bold;
}

.navbar {
    background-color: green;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li[class="active"] > a {
    color: #004900;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #7cffd2;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #7cffd2;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.row {
}

.article-img {
    border-radius: 50%;
}
