.navbar {
    margin-bottom: 0;
}

.item {
    background: rgb(228, 228, 228);
    position: relative;
}

/* 使用媒体 */
@media (max-width: 768px) {

    /* 文字隐藏 */
    .itemtip {
        display: none;
    }
}

.itemtip {
    position: absolute;
    top: 20px;
    right: 8%;
}

.item {
    display: block;
}

.img1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.navbar .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    color: white;
    font-weight: bold;
}

.navbar {
    background-color: green;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li[class="active"] > a {
    color: #004900;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #7cffd2;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #7cffd2;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.row {
    padding: 2.5%;
}

.badge {
    background-color: #a3ff9a;
    color: black;
}

.text-es {
    color: #a77006;
}

.text-es-bold {
    color: #a77006;
    font-weight: bold;
}

.text-english-hint {
    color: grey;
}

.div-es-verbs {
    padding: 20px;
    margin: 20px;
}

.grammar-img {
    max-width: 100%;
}

#grammar-highlight-box-1 > div > div:hover {
    background-color: #fdf1d7;
}

.grammar-hover-highlight:hover {
}
